$ cat .gitignore
# exclude everything except directory foo/bar
/2018.10 Workshop Raspberry PI IoT/Example/bin/*
/2018.10 Workshop Raspberry PI IoT/Example/obj/*
2016.08.29 Web App mit OWINSignalR/Code/Warehouse/obj/Debug/App.g.cs
2016.08.29 Web App mit OWINSignalR/Code/Warehouse/obj/Debug/App.g.i.cs
2016.08.29 Web App mit OWINSignalR/Code/Warehouse/obj/Debug/GeneratedInternalTypeHelper.g.cs
2016.08.29 Web App mit OWINSignalR/Code/Warehouse/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
2016.08.29 Web App mit OWINSignalR/Code/Warehouse/obj/Debug/MainWindow.g.cs
2016.08.29 Web App mit OWINSignalR/Code/Warehouse/obj/Debug/MainWindow.g.i.cs
2016.08.29 Web App mit OWINSignalR/Code/Warehouse/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
2016.08.29 Web App mit OWINSignalR/Code/Warehouse/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
2016.08.29 Web App mit OWINSignalR/Code/Warehouse/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
2016.08.29 Web App mit OWINSignalR/Code/Warehouse/obj/Debug/Warehouse.csproj.CoreCompileInputs.cache
2016.08.29 Web App mit OWINSignalR/Code/Warehouse/obj/Debug/Warehouse.csprojAssemblyReference.cache
2016.08.29 Web App mit OWINSignalR/Code/Warehouse/obj/Debug/Warehouse_MarkupCompile.cache
2016.08.29 Web App mit OWINSignalR/Code/Warehouse/obj/Debug/Warehouse_MarkupCompile.lref
2016.08.29 Web App mit OWINSignalR/Code/Warehouse/obj/Debug/project.razor.json
2016.08.29 Web App mit OWINSignalR/Code/Warehouse.Infrastructure/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
2016.08.29 Web App mit OWINSignalR/Code/Warehouse.Infrastructure/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
2016.08.29 Web App mit OWINSignalR/Code/Warehouse.Infrastructure/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
2016.08.29 Web App mit OWINSignalR/Code/Warehouse.Infrastructure/obj/Debug/Warehouse.Infrastructure.csproj.CoreCompileInputs.cache
2016.08.29 Web App mit OWINSignalR/Code/Warehouse.Infrastructure/obj/Debug/project.razor.json
2016.08.29 Web App mit OWINSignalR/Code/Warehouse.Web/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
2016.08.29 Web App mit OWINSignalR/Code/Warehouse.Web/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
2016.08.29 Web App mit OWINSignalR/Code/Warehouse.Web/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
2016.08.29 Web App mit OWINSignalR/Code/Warehouse.Web/obj/Debug/Warehouse.Web.csproj.CoreCompileInputs.cache
2016.08.29 Web App mit OWINSignalR/Code/Warehouse.Web/obj/Debug/Warehouse.Web.csprojAssemblyReference.cache
2016.08.29 Web App mit OWINSignalR/Code/Warehouse.Web/obj/Debug/project.razor.json
